@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hangfire with Structuremap</h1>
    <p class="lead">StructureMap support for Hangfire. Provides an implementation of the JobActivator class and plugin family expression extensions, allowing you to use StructureMap IoC container to resolve job type instances as well as control the lifetime of the related dependencies.</p>
    <p>@Html.ActionLink("Hangfire Dashboard", "", "hangfire")</p>
</div>

